.navbar{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    height: 90px;
    padding: 0px 50px;
    background-color: aqua;
}
.navbar h1{
    color: brown;
    margin-left: 0px;
}
.navbar span{
    color: rgb(221, 221, 15);
}
.navbar a{
    color: black;
    text-decoration: none;
}